In [2]:
import pandas as pd
df = pd.read_csv("Euro_2012_stats_TEAM.csv")
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [3]:
df['total shots'] =  (df['Shots on target'] + df['Shots off target'])
df['blocked own shots'] = (df['Total shots (inc. Blocked)'] - df['total shots'])
df['Block rate%'] = ((df['Blocks'] / df['blocked own shots'])*100)
block_ratings = df[['Team', 'Block rate%', 'Goals', 'Goals conceded']]
block_ratings.sort_values(by='Block rate%', ascending=False).head(5)

                   Team  Block rate%  Goals  Goals conceded
14               Sweden   400.000000      5               5
6                Greece   383.333333      5               7
3               England   263.636364      5               3
11  Republic of Ireland   255.555556      1               9
0               Croatia   142.857143      4               3

In [5]:
df['Touches without pass'] = df['Touches'] - (df['Passes']*1.2 + df['Saves made']*2)
df['Touches per dribble'] = df['Touches without pass'] / df['Dribbles']
df['Team Work'] = (df['Passes completed'] / df['Touches per dribble']) / 100
Dribble_stats = df[['Team','Goals', 'Touches per dribble', 'Passes completed', 'Team Work']].sort_values(by='Team Work', ascending=False)
Dribble_stats.head(5)

           Team  Goals  Touches per dribble  Passes completed  Team Work
13        Spain     12             3.533962              3820  10.809397
5       Germany     10             6.870000              2427   3.532751
4        France      3             5.497368              1803   3.279751
7         Italy      6             9.384000              2531   2.697144
8   Netherlands      2             5.546939              1381   2.489662

In [6]:
df['Key Passes Rate'] =  df['Passes'] / (df['Shots on target'] - df['Goals'] + df['Penalty goals'] + df['Penalties not scored'])
df['Key Passes'] = round((df['Passes'] /  df['Key Passes Rate']) * (round(df['% Goals-to-shots'].apply(lambda x: float(x.split()[0].replace('%', ''))).mean(),-1)),1)
Key_passes = df[['Team', 'Goals', 'Key Passes']]
Key_passes.sort_values(by='Key Passes', ascending = False).head(5)

        Team  Goals  Key Passes
13     Spain     12       310.0
7      Italy      6       280.0
5    Germany     10       230.0
4     France      3       190.0
10  Portugal      6       160.0

In [ ]:
round(df['% Goals-to-shots'].apply(lambda x: float(x.split()[0].replace('%', ''))).mean(),-1)

10.0