In [1]:
# Run firstly to import required libraries
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/YevheniiKshanovskyi/SFLteam/main/Lab2/Maths.csv') # Run to read the dataset
data.head()
#data.describe()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Warning: Total number of columns (33) exceeds max_columns (20) limiting to first (20) columns.

We could take a look at the preliminary data analysis to have an idea what is the matter,

In [ ]:
data.describe(include=[object])

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
count,395,395,395,395,395,395,395,395,395,395,395,395,395,395,395,395,395
unique,2,2,2,2,2,5,5,4,3,2,2,2,2,2,2,2,2
top,GP,F,U,GT3,T,other,other,course,mother,no,yes,no,yes,yes,yes,yes,no
freq,349,208,307,281,354,141,217,145,273,344,242,214,201,314,375,329,263

but it is not quite informative, so we are going to take a closer look.

1. Do students whose parents live apart consume more alcohol than students whose parents live together?

In [ ]:
# ANSWER HERE:
a_mean = [data[data.Pstatus == 'A'].Dalc.mean(), data[data.Pstatus == 'A'].Walc.mean()]
t_mean = [data[data.Pstatus == 'T'].Dalc.mean(), data[data.Pstatus == 'T'].Walc.mean()]
apart = np.mean(a_mean)
together = np.mean(t_mean)
print(f'Index of alcohol consumption for students in living apart families is {round(apart, 3)}, and {round(together, 3)} for living together ones.')
print(f'Technically the answer is {apart > together}, but actually the difference for indecies is too small to matter.')

Index of alcohol consumption for students in living apart families is 1.915, and 1.883 for living together ones.
Technically the answer is True, but actually the difference for indecies is too small to matter.

2. Most large families are rural ones?

In [ ]:
# ANSWER HERE:
fam = data.groupby(by=['address', 'famsize']).describe()
gt3_in_u = (fam.iat[2,0] / (fam.iat[2,0] + fam.iat[3,0]))*100
gt3_in_r = (fam.iat[0,0] / (fam.iat[0,0] + fam.iat[1,0]))*100
print('Percentage of large families in countryside - ', round(gt3_in_r, 2))
print('Percentage of large families in urban area- ', round(gt3_in_u, 2))
print(f'The answer is {gt3_in_r > gt3_in_u}.')

Percentage of large families in countryside -  77.27
Percentage of large families in urban area-  69.38
The answer is True.

3. To what extent the lack of Internet at home affects the students' grades

In [ ]:
# ANSWER HERE:
with_int =  data[data.internet == 'yes'][['G1','G2', 'G3']].mean().mean()
without_int = data[data.internet == 'no'][['G1','G2', 'G3']].mean().mean()
print('Avarage mark with internet at home:\n', round(with_int, 2))
print('Avarage mark with internet at home:\n', round(without_int, 2))
print('Difference here is tiny to have matter too.')

Avarage mark with internet at home:
 10.85
Avarage mark with internet at home:
 9.83
Difference here is tiny to have matter too.

4. To what extent does drinking alcohol on weekends affect missed classes

In [ ]:
# ANSWER HERE:
alco_and_absence = len(data[(data.Walc > data.Walc.mean()) & (data.absences > data.absences.mean())]) / len(data) * 100
print(f'In {round(alco_and_absence, 2)}% of cases higher alcohol consumption on weekends is accompanied with increased number of absenteeism')

In 18.73% of cases higher alcohol consumption on weekends is accompanied with increased number of absenteeism

5. What is the index of alcohol consumption on weekdays for students, one of whose parents works in the healthcare field

In [ ]:
# ANSWER HERE:
par_heal = [data[data.Fjob == 'health'].Dalc.mean(), data[data.Mjob == 'health'].Dalc.mean()]
print(f'The index: {round(np.mean(par_heal), 2)}')

The index: 1.3

6. What group of students has more missed classes: townspeople or peasants?

In [ ]:
# ANSWER HERE:
print("Townspeople avarage absence:" , data[data.address == 'U'].absences.mean())
print("Peasants avarage absence:" , data[data.address == 'R'].absences.mean())
print('People from countruside have slightly more classes misses.')

Townspeople avarage absence: 5.58957654723127
Peasants avarage absence: 6.125
People from countruside have slightly more classes misses.

7. What is percentage of students with the strongest health, who attend extra-curricular activities

In [ ]:
# ANSWER HERE:
filtered = data[ (data['health'] == 5) & (data['activities'] == 'yes')]
print('All students\n', data[['health', 'activities']], '\nnumber of the students:', len(data))
print('Students with the strongest health who participated in the events\n', filtered[['health', 'activities']], '\nnumber of the students:', len(filtered))
perc = len(filtered) / len(data) * 100
print('\nPercentage of such students:', round(perc, 2), '%.')

All students
      health activities
0         3         no
1         3         no
2         3         no
3         5        yes
4         5         no
..      ...        ...
390       4         no
391       2         no
392       3         no
393       5         no
394       5         no

[395 rows x 2 columns]
number of the students: 395
Students with the strongest health who participated in the events
      health activities
3         5        yes
5         5        yes
9         5        yes
12        5        yes
18        5        yes
..      ...        ...
361       5        yes
381       5        yes
386       5        yes
387       5        yes
389       5        yes

[77 rows x 2 columns]
number of the students: 77

Percentage of such students: 19.49 %.

8. What percentage of families with more than 3 children have the best family relationships?

In [ ]:
# ANSWER HERE:
best = len(data[(data.famrel == 5 ) & (data.famsize == 'GT3')]) / len(data[data.famsize == 'GT3'])*100
worst = len(data[(data.famrel == 1 ) & (data.famsize == 'GT3')]) / len(data[data.famsize == 'GT3'])*100
print(f'The percentage of happy families is {round(best-worst, 2)}% higher then the unhappy one.')

The percentage of happy families is 25.27% higher then the unhappy one.

9. What is the percentage of students with family relationships <= 2 is not going to take higher education?

In [ ]:
# ANSWER HERE:
answer = (len(data[(data.famrel <= 2) & (data.higher == 'no')]) / len(data))*100
print(f'{round(answer, 2)}% of students with bad family relationships is not going to take higher education.')

0.25% of students with bad family relationships is not going to take higher education.

10. What is the percentage of students, who consume alcohol over the avarage, have failed exams at least once?

In [ ]:
# ANSWER HERE:
alco_and_fail = len(data[((data.Dalc + data.Walc) > (data.Dalc + data.Walc).mean()) & (data.failures > 0)]) / len(data) * 100
print(f'In {round(alco_and_fail, 2)}% of cases higher alcohol consumption is accompanied with academic failure.')

In 12.41% of cases higher alcohol consumption is accompanied with academic failure.

11. What age do students consume the most alcohol?

In [ ]:
data.groupby('age')[['Dalc', 'Walc']].mean()

         Dalc      Walc
age
15   1.353659  1.902439
16   1.432692  2.278846
17   1.520408  2.571429
18   1.548780  2.414634
19   1.458333  1.958333
20   2.000000  2.333333
21   3.000000  3.000000
22   5.000000  5.000000

As we can notice, the more students are mature the more they drink.